<h1>New Entry</h1>

<%= form_with model: @entry do |form| %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
    </p>
    <p>
    <%= form.label "description" %>
    <%= form.text_area "description" %>
  </p>
  <p>
  <input type="hidden" name="place_id" id="place_id" value="<% @entry["place_id"] %>">
  </p>
  <%= form.submit %>
<% end %>