<h1>New Post</h1>

<%= form_with model: @entries do |form| %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
    </p>
    <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>
  
  <%= form.submit %>
<% end %>