<h1><%= @place.name %></h1>
 
 <ul>
 <% for entry in @entries %>
 <h3><%= entry["title"]%></h3>
 <small><%= entry["created_at"]%></small>
 <p>
 </p>
 <p>
 <%= entry["description"]%>
 </p>
 <% end %>
 </ul>

<a href="/places">Back to Places overview</a>
</p>
<p>
<a href="/entries/new?place_id=<%= @place["id"] %>">New post</a>
</p>
<p>

